# This is a basic workflow to help you get started with Actions

name: push_nuget_and_release

# on push on master
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      version:
        description: 'nuget setup'
        required: false
        default: '0.0.8-alpha'
      is_pre:
        description: 'Is pre release'
        type: boolean
      notes:
        description: 'Inital Setup'
        required: true

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Git Checkout
      uses: actions/checkout@master


    - name: Setup Nuget.exe
      uses: nuget/setup-nuget@v1

    - name: Publish VL Nuget
      uses: vvvv/PublishVLNuget@1.0.41
      with:
        nuspec: deployment/VL.Devices.Phidgets.nuspec
        version: ${{ github.event.inputs.version }}
        nuget-key: ${{ secrets.NUGET_KEY }}
  
        
