# This is a basic workflow to help you get started with Actions

name: push_nuget

# on push on master
# on push on main
on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      
  workflow_dispatch:
    inputs:
      version:
        description: 'nuget setup'
        required: false
        default: '0.0.13-alpha'
      is_pre:
        description: 'Is pre release'
        type: boolean
      notes:
        description: 'Inital Setup'
        required: true

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Git Checkout
      uses: actions/checkout@master

    - name: Setup Nuget.exe
      uses: nuget/setup-nuget@v2.0.0

    - name: Publish VL Nuget
      uses: vvvv/PublishVLNuget@1.0.41
      with:
        nuspec: deployment/VL.Devices.Phidgets.nuspec
        nuget-key: ${{ secrets.NUGET_KEY }}
  